<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="red.reksai.resultmap.mapper.TbPostMapper">
  <resultMap id="postResultMap" type="TbPost">
    <id property="postId" column="post_id"/>
    <result property="postContent" column="post_content"/>
  </resultMap>

  <select id="selectPost" resultMap="postResultMap">
    select * from tb_post where post_id = #{id}
  </select>
</mapper>
