<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="red.reksai.reflection.propertytokenizer.UserMapper">

  <resultMap id="rm4testPriTool" type="red.reksai.reflection.entity.User">
    <id column="id" property="id"></id>
    <result property="orders[0].items[0].name" column="item1"></result>
    <result property="orders[0].items[1].name" column="item2"></result>
  </resultMap>

  <select id="selectOrderByUserId" resultMap="rm4testPriTool">
        select  id ,item1 ,item2  from tb_user_order_item where id = 1
  </select>


  <resultMap id="itmesMap" type="red.reksai.reflection.entity.Item">

  </resultMap>
</mapper>
